@import url(https://fonts.googleapis.com/css?family=Baloo+Paaji);

@background: #D1D1D1;
@text: #1F120B

html {
	height: 820px;

	body {
		margin-right: 0;
		margin-left: 0;
		margin-top: 0;
		height: 100%;
		font-family: 'Baloo Paaji';
		color: @text;

		#app {
			height: 100%;
			background-color: @background;

			.game-container {
			}
		}
	}
}